@import url(http://fonts.googleapis.com/css?family=Share+Tech);

body {
    background: black;
    height: 100%;
    color: white;
}

html {
    height: 100%;
}

hr {
    border-color: white;
}

textarea {
    resize: none;
}

.cont {
    height: 100%;
}

.hero-unit, .hero-unit2 {
    margin: 50px auto 0 auto;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: rgba(30, 31, 46, 0.96);
    border-radius: 6px;
    padding: 60px;
    overflow: hidden;
    border: 2px solid gray;
}

.hero-unit {
    width: 700px;
}

.hero-unit2 {
    width: 800px;
}

h1 {
    font-family: 'Share Tech', sans-serif;
    font-size: 60px;
    text-align: center;
}

.left-col, .right-col {
    padding: 10px;
}

.loading {
    width: 37px;
    height: 37px;
    border-radius: 5px;
    position: absolute;
    left:48%;
    top: 47%;

    background: #000000;
}

.loader {
    position: absolute;
    left: 2px;
    top: 2px;
}

.error-message {
    clear: both;
}

.error {
    font-size: 14px;
    padding: 3px 10px;
}