.message-pane {
	height: 88%;
	border-radius: 6px;
	border: solid gray 2px;
	overflow-y: scroll; 
}

.project-pane, .users-pane {
	height: 43%;
	margin-left: 5px;
	border-radius: 6px;
	border: solid gray 2px;
	padding: 5px !important;
	overflow-y: scroll;
}

.project-pane {
	margin-bottom: 8%;
}

.users-pane {

}

.right-pane {
	height: 100%;
}

.project-cont {
	height: 100%;
	padding: 20px 0 20px 0;
}

.bottom-buttons {
	margin: 5px;
}

.user-list {
	list-style-type: none;
	font-size: 14px;
	margin-left: -15px;
}

.no-project {
	margin-top: 35%;
	padding-left: 10px;
}