.message-pane {
	height: 88%;
	border-radius: 6px;
	border: solid gray 2px;
	overflow-y: scroll; 
	padding-top: 20px;
}

.project-pane, .users-pane {
	height: 42%;
	margin-left: 5px;
	border-radius: 6px;
	border: solid gray 2px;
	padding: 5px !important;
	overflow-y: scroll;
}

.project-pane {
	margin-bottom: 8%;
}

.users-pane {

}

.right-pane {
	height: 100%;
}

.project-cont {
	height: 100%;
	padding: 20px 0 20px 0;
}

.bottom-buttons {
	margin: 5px;
}

.user-list {
	font-size: 14px;
}

.project-list {
	font-size: 14px;
}

.no-project {
	margin-left: 20%;
	padding-left: 10px;
}

.modal-dialog {
	width: 800px;
}

.project-user {
	border-radius: 4px;
	margin-left: 10px;
	margin-top: 10px;
	padding: 5px 10px;
}

.project-users {
	overflow: hidden;
}

.shown {
	display: inline-block;
}

.hidden {
	display: none;
}

.user-alert {
	margin-top: 15px;
}

.proj-error {
	padding: 3px 10px;
	font-size: 14px;
}

.project-button:hover {
	cursor: pointer;
}

.pane-list {
	padding: 5px 10px;
}

.conversations {
	font-size: 16px;
	list-style-type: none;
	padding: 5px;
	text-decoration: none;
	cursor: pointer;
}

.message-header {
	font-size: 13px;
}

.message-body {
	margin-left: 20px;
	font-size: 11px;
}

.message-list {
	list-style-type: none;
}

.message-time {
	color: lightgray;
	font-size: 10px;
}

.new-conv-label {
	font-size: 16px;
	padding-top: 2px !important;
	padding-right: 0px;
}

.new-message-label {
	font-size: 14px;
}

.cancel-button {
	margin-left: 10px;
}

.new-conv-button {
	margin-top: 15px;
}

.message {
	padding-top: 0px;
	padding-bottom: 0px;
}

