<div class="modal-header">
	<h2>Add New Project</h2>
</div>

<div class="modal-body">
	<form class="form-horizontal" role="form" name="form" novalidate>

		<div class="form-group">
			<label for="title" class="col-md-3 control-label">Project Name</label>
			<div class="col-md-6">
				<input type="text" id="title" class="form-control" name="pTitle" ng-model="projectTitle" placeholder="Enter project name" required>
			</div>
			<span class="alert alert-danger col-md-3 proj-error" ng-show="form.pTitle.$error.required">  Project name is required </span>
		</div>

		<div class="form-group">
			<label for="description" class="col-md-3 control-label">Project Description</label>
			<div class="col-md-6">
				<textarea id="description" class="form-control" rows="2" name="pDesc" placeholder="Enter description" ng-model="projectDesc" required></textarea>
			</div>
			<span class="col-md-3 alert alert-danger proj-error" ng-show="form.pDesc.$error.required">  Description is required </span>
		</div>

		<div class="form-group">
			<label for="status" class="col-md-3 control-label">Project Status</label>
			<div class="col-md-6">
				<select id="status" class="form-control" ng-model="selectedItem" ng-options="item for item in items" required>
				</select>
			</div>
		</div>

		<div class="form-group">
			<label for="dueDate" class="col-md-3 control-label">Due Date</label>
			<div class="col-md-6">
		        <input type="text" class="form-control" name="pDate" datepicker-popup="MMMM dd, yyyy" ng-model="dt" is-open="opened" min="dt" show-weeks="false" ng-required="true" />
			</div>
			<span class="col-md-3 alert alert-danger proj-error" ng-show="form.pDate.$error.required">  Due date is required </span>
		</div>

		<div class="form-group">
			<label for="team" class="col-md-3 control-label">Select Devs</label>
			<div class="col-md-6">
				<select type="email" id="team" class="form-control" ng-model="selectedUser" ng-options="user as user.firstName + ' ' + user.lastName for user in users">
				</select>
			</div>
			<button class="col-md-2 btn btn-primary" ng-click="addUser(selectedUser)">Add Dev</button>
		</div>

		<hr />

		<div class="project-users">
			<h3>Project Devs</h3>

			<div id="userWarning" class="shown user-alert" user-error>
				<span class="alert alert-danger proj-error">You must have at least one developer in the project!!!</span>
			</div>

			<ul class="list-group">
				<li class="list-group-item col-md-3 project-user" ng-repeat="user in projectUsers">
					{{user.firstName}} {{user.lastName}}
					<button type="button" class="close" aria-hidden="true" ng-click="removeUser(user)">&times;</button>
				</li>
			</ul>
		</div>

		<div class="col-md-1"></div>
		
	</form> 
</div>

<div class="modal-footer">
	<button class="btn btn-primary col-md-2 bottom-buttons pull-right" ng-click="cancel()">Cancel</button>
	<button id="saveProject" class="btn btn-primary col-md-2 bottom-buttons pull-right" ng-click="ok(projectTitle, projectDesc)" ng-disabled="form.$invalid || userAbsent">Save</button>
</div>