<div class="hero-unit">
  	<h1>Welcome to devTalk!</h1>
  	<hr />
  	<div class="col-md-6 pull-left left-col">
	  	<p>Who are you?</p>
	  	<select class="form-control" ng-model="selectedUser" ng-options="user.id as user.firstName + ' ' + user.lastName for user in users">
	  		
	  	</select><br />
	  	<button ng-click="gotoProjects()" class="btn btn-primary">Sign in >></button>
	</div>
	<div class="col-md-6 pull-left right-col">
		<p>Not there? Sign up!</p>
		<a href="/#/new_user" class="btn btn-primary">Add user >></a>
	</div>
	<div class="error-message alert alert-danger" ng-show="errormessage">There was an error with your request ({{error_message}}). Please try again.</div>
	<div ng-show="loading" class="loading"><img class="loader" src="../images/loading_transparent.gif"></div>
</div>
