<div class="hero-unit">
  	<h1>Welcome to devTalk!</h1>
  	<div class="col-md-6 pull-left left-col">
	  	<p>Select a user from below to edit:</p>
	  	<select ng-model="selectedUser" ng-options="user.id as user.firstName + ' ' + user.lastName for user in users">
	  		
	  	</select><br />
	  	<button ng-click="editUser()" class="btn btn-primary">Edit user >></button>
	</div>
	<div class="col-md-6 pull-left right-col">
		<p>Don't see who you're looking for?</p>
		<a href="/#/new_user" class="btn btn-primary">Add user >></a>
	</div>
	<div ng-show="loading" class="loading"><img class="loader" src="../images/loading_transparent.gif"></div>
</div>
