<div nav-bar></div>
<div class="project-cont container">
	<div class="message-pane jumbotron pull-left col-md-10">
		
	</div>
	<div class="right-pane col-md-2">
		<div class="project-pane jumbotron col-md-12">
			<ul ng-show="!isEmpty" class="project-list">
				<li ng-repeat="project in projects">{{project.name}}</li>
			</ul>
			<div ng-show="isEmpty" class="no-project">
				<p>No Projects!</p>
				<button class="btn btn-primary" open-dialog>Add Project</button>
			</div>
		</div>
		<div class="users-pane jumbotron col-md-12">
			<ul class="user-list">
				<li ng-repeat="user in users">{{user.firstName}} {{user.lastName}}</li>
			</ul>
		</div>
	</div>
</div>


<div id="projectModal" title="Add New Project" project-new>
	<form class="form-horizontal" role="form" name="form" novalidate>

		<div class="form-group">
			<label for="title" class="col-md-3 control-label">Project Name</label>
			<div class="col-md-6">
				<input type="text" id="title" class="form-control" name="pTitle" ng-model="projectTitle" placeholder="Enter project name" required>
			</div>
			<span class="error col-md-3" ng-show="form.pTitle.$error.required">  *Project name is required </span>
		</div>

		<div class="form-group">
			<label for="description" class="col-md-3 control-label">Project Description</label>
			<div class="col-md-6">
				<textarea id="description" class="form-control" rows="2" name="pDesc" placeholder="Enter description" ng-model="projectDescription" required></textarea>
			</div>
			<span class="error col-md-3" ng-show="form.pDesc.$error.required">  *Description is required </span>
		</div>

		<div class="form-group">
			<label for="status" class="col-md-3 control-label">Project status</label>
			<div class="col-md-6">
				<select id="status" class="form-control" ng-model="projectStatus">
					<option ng-repeat="item in statusItems">{{item}}</option>
				</select>
			</div>
		</div>

		<div class="form-group">
			<label for="team" class="col-md-3 control-label">Select Users</label>
			<div class="col-md-6">
				<select type="email" id="team" class="form-control" ng-model="selectedUser" required>
					<option ng-repeat="user in users">{{user.firstName}} {{user.lastName}}</option>
				</select>
			</div>
			<button class="col-md-2 btn btn-primary" select-user>Add User</button>
		</div>

		<div>
			<ul>
				<li ng-repeat="user in projectUsers">{{user}}</li>
			</ul>
		</div>

		<div class="col-md-1"></div>
		<button class="btn btn-primary col-md-2 bottom-buttons pull-right" close-dialog>Cancel</button>
		<button class="btn btn-primary col-md-2 bottom-buttons pull-right" save-project>Save</button>
	</form> 
</div>
