<!-- The good old navigation bar -->

<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">devTalk</a>
    <p class="navbar-text">Signed in as {{currentUser.firstName}} {{currentUser.lastName}}</p>
  </div>

  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li><a ng-click="projectNew()" class="project-button">New Project</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Log Out</a></li>
    </ul>
  </div>
</nav>

<!-- The container for the rest of the page -->
<div class="project-cont container">

	<!-- The currently selected project, it's conversations and messages live here -->

	<div class="message-pane jumbotron pull-left col-md-9">
		
		<!-- Show this if there is no project currently selected -->

		<div ng-show="!projectSelected">
			<h1>Select a project!</h1>
		</div>

		<!-- This is shown when a project is selected -->

		<div ng-show="projectSelected">

			<!-- The project title and details -->

			<div class="project-header">
				<h1><a>{{currentProject.title}}</a></h1>
				<h3>Description: {{currentProject.description}}</h3>
				<h4>Due Date: {{currentProject.dueDate | date}}</h4>
				<h4>Status: {{currentProject.status}}</h4>
			</div>
			<hr />

			<!-- The conversations accordion -->

			<h2>Conversations:</h2>

			<accordion close-others="true">
				<accordion-group ng-repeat="conv in currentProject.conversations" heading="{{conv.subject}}">
				    <accordion-heading>
				    	{{conv.subject}}
				    	<span class="pull-right">
				    		<a class="project-button pull-right" ng-click="alert('Separate click')">
				    			<i class="glyphicon glyphicon-edit"></i>
				    		</a>
				    	</span>
				    </accordion-heading>
					<!-- List all messages in the current conversation -->

				    <ul class="list-group message-list">
				        <li class="list-group-item message" ng-repeat="message in conv.messages">
				        	<span class="message-header">{{message.user.nickName}}</span>
				        	<span class="message-time">&bull;&nbsp;{{message.modified | fromNow}}</span>
				        	<blockquote class="message-body">{{message.message}}</blockquote>
				        </li>
				    </ul>

				    <!-- Show this form when the new message button is clicked -->

				    <form name="form" role="form" ng-show="isNewMessage">
				    	<label for="newMessage" class="new-message-label">New Message:</label>
				    	<textarea id="newMessage" class="form-control" ng-model="newMessage"></textarea>
				    </form>

					<button class="btn btn-xs btn-primary" ng-show="!isNewMessage" ng-click="isNewMessage = !isNewMessage">New Message</button>
					<button class="btn btn-xs btn-primary" ng-click="saveMessage(newMessage, conv)" ng-show="isNewMessage">Post</button>
					<button class="btn btn-xs btn-primary" ng-show="isNewMessage" ng-click="newMessage = ''; isNewMessage = !isNewMessage">Cancel</button>

				</accordion-group>
			</accordion>

			<!-- Show this form when the new conversation button is clicked -->

			<form class="form-horizontal" role="form" name="cForm" ng-show="newConversation" novalidate>

				<div class="form-group">
					<label for="subject" class="col-md-2 control-label new-conv-label">Subject:</label>
					<div class="col-md-7">
						<input type="text" id="subject" class="form-control" name="cSubject" ng-model="conversationSubject" placeholder="Enter conversation subject" required>
					</div>
					<span class="alert alert-danger col-md-3 proj-error" ng-show="cForm.cSubject.$error.required">  Subject is required </span>
				</div>

			</form>

			<div class="">
				<button class="btn btn-sm btn-primary pull-right new-conv-button" ng-click="newConversation = !newConversation" ng-hide="newConversation">New Conversation</button> 
				<button class="btn btn-sm btn-primary pull-right cancel-button" ng-click="conversationSubject = ''; newConversation = !newConversation" ng-show="newConversation">Cancel</button>
				<button class="btn btn-sm btn-primary pull-right" ng-click="saveConversation(conversationSubject)" ng-show="newConversation" ng-disabled="cForm.$invalid">Save</button>
			</div>

		</div>

		<div ng-show="uLoading" class="loading"><img class="loader" src="../images/loading_transparent.gif"></div>

	</div>

	<!-- The panes on the right side of the viewport -->

	<div class="right-pane col-md-3">

		<!-- The pane that lists all of the projects -->

		<div class="project-pane jumbotron col-md-12">
			<p>Projects</p>
			<ul ng-show="!isEmpty" class="project-list list-group">
				<li class="list-group-item pane-list" ng-repeat="project in projects">
					<a class="project-button" ng-click="openProject(project)">{{project.title}}</a>
					<a class="project-button pull-right" ng-click="projectEdit(project)"><i class="glyphicon glyphicon-edit"></i></a>
				</li>
			</ul>

			<div ng-show="isEmpty" class="no-project">
				<p>No Projects!</p>
				<button class="btn btn-primary" ng-click="open()">Add Project</button>
			</div>

			<div ng-show="pLoading" class="loading"><img class="loader" src="../images/loading_transparent.gif"></div>

		</div>

		<!-- This pane shows a list of all users that are working on the currently selected project -->

		<div class="users-pane jumbotron col-md-12">
			<p>Devs</p>
			<ul class="user-list list-group">
				<li class="list-group-item pane-list" ng-repeat="user in currentProject.team">
					{{user.firstName}} {{user.lastName}}
				</li>
			</ul>
		</div>

	</div>

</div>
