<div>
	<form class="form-horizontal" role="form" name="form" novalidate>

		<div class="form-group">
			<label for="first-name" class="col-md-3 control-label">First Name</label>
			<div class="col-md-6">
				<input type="text" id="first-name" class="form-control" name="fName" ng-model="firstName" placeholder="Enter first name" required>
			</div>
			<span class="alert alert-danger col-md-3 error" ng-show="form.fName.$error.required">  First name is required </span>
		</div>

		<div class="form-group">
			<label for="last-name" class="col-md-3 control-label">Last Name</label>
			<div class="col-md-6">
				<input type="text" id="last-name" class="form-control" name="lName" placeholder="Enter last name" ng-model="lastName" required>
			</div>
			<span class="alert alert-danger col-md-3 error" ng-show="form.lName.$error.required">  Last name is required </span>
		</div>

		<div class="form-group">
			<label for="nick-name" class="col-md-3 control-label">Nick Name</label>
			<div class="col-md-6">
				<input type="text" id="nick-name" class="form-control" placeholder="Enter nick name" ng-model="nickName">
			</div>
		</div>

		<div class="form-group">
			<label for="e-mail" class="col-md-3 control-label">Email</label>
			<div class="col-md-6">
				<input type="email" id="e-mail" class="form-control" name="uEmail" placeholder="Enter email address" ng-model="email" required>
			</div>
			<span class="alert alert-danger col-md-3 error" ng-show="form.uEmail.$error.required">  Email is required </span>
			<span class="alert alert-danger col-md-3 error" ng-show="form.uEmail.$error.email"> Email is not valid </span>
		</div>

		<div class="col-md-1"></div>
		<button class="btn btn-primary col-md-3 bottom-buttons" ng-disabled="form.$invalid" ng-click="saveUser()">Save</button>
		<button class="btn btn-primary col-md-3 bottom-buttons" ng-click="deleteUser()">Delete</button>
		<a href="/#/" class="btn btn-primary col-md-3 bottom-buttons">Home</a>
		
	</form>
	<div class="error-message alert alert-danger" ng-show="errormessage">There was an error with your request ({{error_message}}). Please try again.</div>
	<div ng-show="loading" class="loading"><img class="loader" src="../images/loading_transparent.gif"></div>
</div>